<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2019 Gordon Stein
        </div>
    </div>
</footer>

</div>
<script type="text/javascript" src="js/materialize.min.js"></script>

</html>