<html>

<head>
    <title><%= pageTitle %></title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />


    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="container">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">OneNation</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">New Game</a></li>
                </ul>
            </div>
        </nav>