<%- include('../includes/header.ejs') %>

<div class="container">
    <div id="answer" style="display: none;">
        <h3>The correct answer was: </h3><h2 id="answerfield"></h2>
        <hr />
    </div>

    <h3>Time:</h3>
    <h2 id="timer">0:00</h2>
    <hr />

    <h3>Possible countries remaining:</h3>
    <h2 id="remaining">196</h2>
    <hr />

    <h3>Your guess:</h3>
    <input id="guess" style="font-size: 24px" />
    <hr />

    <h3>Clues:</h3>

    <ul id="clues">
        <li>
            <h4>Loading...</h4>
        </li>
    </ul>
    <hr />
    <a class="btn" id="giveup">Give Up?</a>
    <br />
    <br />
</div>

<script type="text/javascript" src="js/game.js"></script>

<%- include('../includes/footer.ejs') %>