<%- include('../includes/header.ejs') %>

<div class="container">
    <h2>196 countries, but only one matches all the clues</h2>
    <h4>You will receive a series of clues, name a country that matches all clues so far to get the next clue.
        <br />
        Find the one country that matches all the clues to win!
    </h4>
    <a class="waves-effect waves-light btn-large" href="/play">Play Now <i class="material-icons">play_arrow</i></a>
    <br />
    <br />
</div>


<%- include('../includes/footer.ejs') %>